@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/Fraunces_144pt-SemiBold.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
.fraunces-font {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background-color: inherit;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.main-position {
  position: relative;
}
.main-position .position-prijina-left {
  position: absolute;
  left: 0;
  top: 116px;
}
.main-position .position-prijina-left .position-prijina-left-img {
  width: 270.29px;
}
.main-position .position-prijina-right {
  position: absolute;
  right: 0;
  top: 431.55px;
}
.main-position .position-prijina-right .position-prijina-left-img {
  width: 141.7px;
}
.main-position .header {
  position: relative;
  height: 730px;
  background-image: url(./assets/images/Rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-position .header .nawbar {
  padding-top: 56px;
  margin: auto;
  max-width: 1114px;
  display: flex;
  justify-content: space-between;
}
.main-position .header .nawbar .logo {
  height: 24.61px;
  width: 95.76px;
}
.main-position .header .nawbar .nawbar-text {
  font-family: monrope;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  border: 3px solid #44FFA1;
  border-width: 0 0 3px 0;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFFFFF;
}
.main-position .header .header-main {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  width: 635px;
}
.main-position .header .header-main .header-main-text {
  font-family: Fraunces;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: #FFFFFF;
}
.main-position .header .header-main .header-main-text .header-main-text-span {
  border: 3px solid #44FFA1;
  border-width: 0 0 3px 0;
}
.main-position .header .header-main .header-main-button {
  margin: 0 auto;
  margin-top: 37px;
  font-size: 18px;
  font-family: manrope;
  font-weight: 700;
  letter-spacing: -0.18px;
  line-height: 32px;
  color: #24053E;
  padding: 13px 31px;
  background-color: #44FFA1;
}
.main-position .main-position-item {
  position: absolute;
  top: 454px;
  left: 20%;
}
.main-position .main-position-item .main-position-item-img {
  width: 767px;
}
.main-position .second {
  height: 730px;
  background-image: url(./assets/images/baground-img2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
}
.main-position .second .second-section {
  display: flex;
  max-width: 1114px;
  margin: auto;
  padding-bottom: 150px;
}
.main-position .second .second-section .card {
  display: flex;
  flex-direction: column;
  max-width: 354px;
}
.main-position .second .second-section .card .card-photo {
  margin: auto;
}
.main-position .second .second-section .card .card-body .card-body-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  font-family: Fraunces;
}
.main-position .second .second-section .card .card-body .card-body-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  font-family: Manrope;
}

.third-content {
  width: 1112px;
  height: 647.74px;
  margin: auto;
  margin-top: 110px;
  position: relative;
}
.third-content .third-content-rasm {
  width: 477px;
  border-radius: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  background-color: #44FFA1;
}
.third-content .third-content-rasm .third-content-rasm-img {
  width: 100%;
  border-radius: 100%;
}
.third-content .third-content-card {
  padding: 64px;
  width: 730px;
  height: 413px;
  background-color: #24053E;
  bottom: 61.7px;
  left: 382px;
  position: absolute;
}
.third-content .third-content-card .third-content-card-title {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  font-family: Fraunces;
  color: #FFFFFF;
}
.third-content .third-content-card .third-content-card-description {
  margin-top: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  font-family: Manrope;
  color: #FFFFFF;
}
.third-content .third-content-card .third-content-card-button {
  margin: 0 auto;
  margin-top: 37px;
  font-size: 18px;
  font-family: manrope;
  font-weight: 700;
  letter-spacing: -0.18px;
  line-height: 32px;
  color: #24053E;
  padding: 13px 31px;
  background-color: #44FFA1;
}
.third-content .prujina {
  position: absolute;
  bottom: 0;
  right: 70px;
}

.footer {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 110px 0;
}
.footer .footer-img {
  width: 95.76px;
  margin: auto;
  margin-left: 10px;
  color: #24053E;
}
.footer .footer-icons {
  gap: 28px;
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .main-position .header .position-prijina-left .position-prijina-left-img {
    width: 240px;
  }
  .main-position .main-position-item {
    top: 30%;
  }
  .main-position .main-position-item .main-position-item-img {
    width: 80%;
  }
  .third-content {
    width: 80%;
    height: 526px;
  }
  .third-content .third-content-rasm {
    width: 50%;
  }
  .third-content .third-content-card {
    width: 70%;
    left: 30%;
    top: 30%;
  }
}/*# sourceMappingURL=main.css.map */